@import '~@assets/theme/_themeify.scss';

$prefix-cls: 'app-home';

.#{$prefix-cls} {
  font-size: 18px;
  @include themeify {
    color: themed('text-color-primary');
  }
  &-article {
    height: 30px;
    display: flex;
    align-content: space-around;
    align-items: center;
    span, a {
      display: inline-block;
      flex: auto;
    }
  }
}
