<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <!-- safari browser. start -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- safari browser. end -->
    <!-- UC browser. start -->
    <meta name="screen-orientation" content="portrait">
    <meta name="full-screen" content="no">
    <!-- UC browser. end -->
    <!-- QQ browser. start -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="auto">
    <!-- QQ browser. end -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.assetsPath %>static/logo.jpg" type="image/x-icon">
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
